<!-- src/main/resources/templates/index.mustache -->

{{>layout/header}}
<div class="container">
    <h1>기본 페이지</h1>
    <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
</div>
{{>layout/footer}}